In [ ]:
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import pairwise_distances
from sklearn.preprocessing import PolynomialFeatures

In [ ]:
%store -r all_years_data
%store -r subgroups
%store -r tests
%store -r meta

In [ ]:
all_years_data.head()

In [5]:
[all_years_data.drop(columns=column, inplace=True) for column in all_years_data.columns if '_tested' in column]
all_years_data.drop(columns=['school_name','lat','lng','year'], inplace=True)

In [6]:
all_years_data.set_index("school_id", inplace=True)
all_years_data.fillna(0, inplace=True)

In [7]:
test_1_columns = [column for column in all_years_data.columns if '_test_1' in column]

In [8]:
test_1_to_sparse = all_years_data.loc[:,test_1_columns].copy()
test_1_to_sparse.head()

,group_1_test_1,group_3_test_1,group_4_test_1,group_6_test_1,group_7_test_1,group_8_test_1,group_28_test_1,group_31_test_1,group_50_test_1,group_51_test_1,...,group_206_test_1,group_207_test_1,group_220_test_1,group_221_test_1,group_222_test_1,group_223_test_1,group_224_test_1,group_225_test_1,group_226_test_1,group_227_test_1
school_id,,,,,,,,,,,,,,,,,,,,,
100701,0.0000,0.0000,0.0000,0.000,0.000000,0.0000,0.0,0.0000,0.0,0.0,...,0.000,0.0,0.0,0.0,0.172,0.0,0.000,0.0,0.25,0.000000
100792,0.2275,0.2325,0.2200,0.315,0.200000,0.3075,0.0,0.2075,0.0,0.0,...,0.000,0.0,0.0,0.0,0.930,0.0,0.000,0.0,0.00,0.714286
102988,0.1975,0.1800,0.2125,0.305,0.000000,0.2650,0.0,0.1825,0.0,0.0,...,0.146,0.0,0.0,0.0,0.000,0.0,0.105,0.0,0.72,0.000000
106401,0.9700,0.9500,1.0000,1.000,0.000000,1.0000,0.0,0.0000,0.0,0.0,...,0.000,0.0,0.0,0.0,0.000,0.0,0.000,0.0,0.00,0.000000
106542,0.0000,0.0000,0.3000,0.000,0.118571,0.0000,0.0,0.0000,0.0,0.0,...,0.000,0.0,0.0,0.0,0.000,0.0,0.000,0.0,0.00,0.000000

In [10]:
poly = PolynomialFeatures(interaction_only=True)
test_1_to_sparse_poly = poly.fit_transform(test_1_to_sparse)
test_1_to_sparse_poly

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [1.        , 0.2275    , 0.2325    , ..., 0.        , 0.        ,
        0.        ],
       [1.        , 0.1975    , 0.18      , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [1.        , 0.2115    , 0.143725  , ..., 0.        , 0.        ,
        0.        ],
       [1.        , 0.39408571, 0.35571429, ..., 0.        , 0.        ,
        0.        ],
       [1.        , 0.31345   , 0.226075  , ..., 0.        , 0.        ,
        0.        ]])

In [ ]:
test_1_sparse = sparse.csr_matrix(test_1_to_sparse.fillna(0))

test_1_recommender = pairwise_distances(test_1_sparse, metric='cosine')

test_1_recommender_df = pd.DataFrame(test_1_recommender, index=test_1_to_sparse.index, columns=test_1_to_sparse.index)

test_1_recommender_df